<html>


{%load static%}

{% block content%}

<head>
<title>signup & login</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
  
  <section>
    <div class="container">
      <div class="user signinBx">
        <div class="imgBx"><img src="/static/images/loginimg.png" alt="login"><!--

        <div class="imgBx"><img src="/static/images/img1.png" alt="login">
          <img src="https://raw.githubusercontent.com/WoojinFive/CSS_Playground/master/Responsive%20Login%20and%20Registration%20Form/img1.jpg" alt="" />
          --></div>
        <div class="formBx">
          <form method="POST" class="register-form" action="/userauthentication/" id="login-form">
            {%csrf_token%}
            <h2>Sign In</h2>
            <input type="email" name="email" id="email" placeholder="Email Address"/>
            <input type="password" name="password" id="password" placeholder=" Password" />
            <input type="submit" name="signin" id="signin" class="form-submit" value="Login"/>

            <p class="signup">
              Don't have an account ?
              <a href="#" onclick="toggleForm();">Sign Up.</a>
            </p>
          </form>
        </div>
      </div>
      <div class="user signupBx">
        <div class="formBx">
          <form method="POST" class="register-form" action="/userregister/" id="register-form">
            {%csrf_token%}
            <h2>Create an account</h2>
            <input type="text" name="name" id="name" placeholder="Your Name"/>
            <input type="email" name="email" id="email" placeholder="Email Address" />
            
            <input type="password" name="password" id="password" placeholder="Create Password" />
            <input type="password" name="re_password" id="re_password" placeholder="Confirm Password" />
            <input type="submit" name="signup" id="signup" class="form-submit" value="Sign Up" />
            <p class="signup">
              Already have an account ?
              <a href="#" onclick="toggleForm();">Sign in.</a>
            </p>
          </form>
        </div>
        <div class="imgBx"><img src="/static/images/img2.jpg" alt="singup"><!--
          <img src="https://raw.githubusercontent.com/WoojinFive/CSS_Playground/master/Responsive%20Login%20and%20Registration%20Form/img2.jpg" alt="" />
          --></div>
      </div>
    </div>
  </section>
</body>
<!-- partial -->
  

</body>
<script>
function toggleForm() {
    const container = document.querySelector('.container');
    container.classList.toggle('active');
}
</script>
{% endblock %}
</html>
